[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target
# Requires=docker.socket

[Service]
Type=notify
# the default is not to use systemd for cgroups because the delegate issues still
# exists and systemd currently does not support the cgroup feature set required
# for containers run by docker
ExecStart=/usr/bin/docker daemon -H unix:///var/run/docker.sock  --label provider=generic
# ExecStart=/usr/bin/dockerd -H fd://
ExecReload=/bin/kill -s HUP $MAINPID
LimitNOFILE=1048576
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNPROC=1048576
LimitCORE=infinity
TimeoutStartSec=1min
# set delegate yes so that systemd does not reset the cgroups of docker containers
# Delegate=yes
# kill only the docker process, not all processes in the cgroup
# KillMode=process

[Install]
WantedBy=multi-user.target
