body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background-color: #FFF;
}

.marge {
	padding-left: 50px;
	padding-top: 20px;
}

.pad-top {
	padding-top: 40px;
}

.container-title {
	border-radius: 12px;
	opacity: 0.8;
}

.kettle_apps-title {
	background: #fff;
	padding-bottom: 9px;
    margin: 15px 0 20px 20px;
    border-bottom: 1px solid #eee;
    font-size: 36px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: black;
}

.row {
	
}
